.App {
  text-align: center;
  width: 100vw;
  /* animation: App-logo-spin infinite 1s linear; */

}
.header{
  height: 70px;
  width: 100%;
  background-color: #AB2A19;
  display: flex;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}