.App {
  text-align: center;
  width: 100vw;
}
.header{
  height: 70px;
  width: 100%;
  background-color: #AB2A19;
  display: flex;
  align-items: center;
}
.logo {
  animation: App-logo-spin infinite .6s linear;
  height: 45px;
  width: 45px;
  padding-right: 8px;
  margin-left: 175px; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */