/* .logo{
  padding-right: 8px;
  margin-left: 175px; 
  animation: App-logo-spin infinite .6s linear;
} */
.title{
    color: white;
    font-style: bold;
    text-decoration: none;
}
.shelf-container{
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
.shelf{
    height: 70px;
    width: 100%;
    margin: 15px 0;
    border-radius: 8px;
    font-size: 26px;
    color: white;
    font-style: bold;
    background-color: #D34735;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.shelf p{
    margin: 0 15%;
}
.logo {
    animation: App-logo-spin infinite 3600s linear;
    height: 45px;
    width: 45px;
}
.logo-container{
    margin-left: 15%;
    margin-right: 10px;
}